/*Index page jumbotron*/
.jumbotron {
	margin-bottom: 0px;
	background-image: url(../images/jtronimg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: 2px 2px 2px black;
	margin-right: -0.001rem !important;
}